## Find the best neighborhood in Madrid to open a...

In [1]:
import pandas as pd
import numpy as np
import requests
import json
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium

In [83]:
df = pd.read_csv('barrios_municipio_madrid.csv',sep= ';', encoding='Latin 1')
df.head()

,barrio_codigo,barrio_nombre,distrito_codigo,distrito_nombre,municipio_codigo,municipio_nombre,superficie_km2,densidad_por_km2
0,796011,Palacio,79601,Centro,796,Madrid,1.46,15323.29
1,796012,Embajadores,79601,Centro,796,Madrid,1.03,43345.63
2,796013,Cortes,79601,Centro,796,Madrid,0.59,17850.85
3,796014,Justicia,79601,Centro,796,Madrid,0.75,21866.67
4,796015,Universidad,79601,Centro,796,Madrid,0.93,33051.61

In [84]:
df.sort_values('distrito_nombre').head(20)

,barrio_codigo,barrio_nombre,distrito_codigo,distrito_nombre,municipio_codigo,municipio_nombre,superficie_km2,densidad_por_km2
9,796024,Legazpi,79602,Arganzuela,796,Madrid,1.37,13826.28
12,796027,Atocha,79602,Arganzuela,796,Madrid,0.79,1401.27
11,796026,Palos de Moguer,79602,Arganzuela,796,Madrid,0.65,39372.31
10,796025,Delicias,79602,Arganzuela,796,Madrid,1.07,25485.05
8,796023,La Chopera,79602,Arganzuela,796,Madrid,0.56,35276.79
7,796022,Las Acacias,79602,Arganzuela,796,Madrid,1.10,33318.18
6,796021,Imperial,79602,Arganzuela,796,Madrid,0.98,23105.10
127,796215,Corralejos,79621,Barajas,796,Madrid,4.67,1577.09
123,796211,Alameda de Osuna,79621,Barajas,796,Madrid,1.98,9795.45
124,796212,Aeropuerto,79621,Barajas,796,Madrid,19.87,89.88
125,796213,Casco Histórico de Barajas,79621,Barajas,796,Madrid,0.64,11415.62
126,796214,Timón,79621,Barajas,796,Madrid,16.40,672.01
71,796117,Abrantes,79611,Carabanchel,796,Madrid,1.56,18844.87
65,796111,Comillas,79611,Carabanchel,796,Madrid,0.67,33000.00
69,796115,Puerta Bonita,79611,Carabanchel,796,Madrid,1.60,20632.50
68,796114,Vista Alegre,79611,Carabanchel,796,Madrid,1.63,27212.27
67,796113,San Isidro,79611,Carabanchel,796,Madrid,1.90,19997.89
66,796112,Opañel,79611,Carabanchel,796,Madrid,1.14,28110.53
70,796116,Buenavista,79611,Carabanchel,796,Madrid,5.60,8080.36
0,796011,Palacio,79601,Centro,796,Madrid,1.46,15323.29

In [97]:
df.columns

Index(['barrio_codigo', 'barrio_nombre', 'distrito_codigo', 'distrito_nombre',
       'municipio_codigo', 'municipio_nombre', 'superficie_km2',
       'densidad_por_km2'],
      dtype='object')

In [98]:
df.shape

(128, 8)

In [106]:
dfm=df.groupby(['distrito_codigo','distrito_nombre']).agg(','.join)
dfm.reset_index(inplace=True)
dfm.drop(['municipio_nombre'], axis=1, inplace=True)
#dfm.rename(columns={'distrito_codigo': 'DistrictCode', 'distrito_nombre':'DistrictName','barrio_nombre':'Neighborhood'}, inplace=True)
dfm

,distrito_codigo,distrito_nombre,barrio_nombre
0,79601,Centro,"Palacio, Embajadores, Co..."
1,79602,Arganzuela,"Imperial, Las Acacias, L..."
2,79603,Retiro,"Pacífico, Adelfas, Estre..."
3,79604,Salamanca,"Recoletos, Goya, Fuente ..."
4,79605,Chamartín,"El Viso, Prosperidad, Ci..."
5,79606,Tetuan,"Bellas Vistas, Cuatro Caminos, ..."
6,79607,Chamberí,"Gaztambide, Arapiles, Tr..."
7,79608,Fuencarral-El Pardo,"El Pardo, Fuentelarreina, ..."
8,79609,Moncloa-Aravaca,"Casa de Campo, Argüelles, ..."
9,79610,Latina,"Los Cármenes, Puerta del Angel,..."
10,79611,Carabanchel,"Comillas, Opañel, San Is..."
11,79612,Usera,"Orcasitas, Orcasur, San ..."
12,79613,Puente de Vallecas,"Entrevías, San Diego, Pa..."
13,79614,Moratalaz,"Pavones, Horcajo, Marroq..."
14,79615,Ciudad Lineal,"Ventas, Pueblo Nuevo, Qu..."
15,79616,Hortaleza,"Palomas, Piovera, Canill..."
16,79617,Villaverde,"San Andrés, San Cristobal, ..."
17,79618,Villa de Vallecas,"Casco Histórico de Vallecas, Sa..."
18,79619,Vicálvaro,"Casco Histórico de Vicálvaro, A..."
19,79620,San Blas-Canillejas,"Simancas, Hellín, Ampost..."
20,79621,Barajas,"Alameda de Osuna, Aeropuerto, ..."

In [100]:
dfm.shape

(21, 3)

In [109]:
df2=df.groupby(['distrito_codigo','distrito_nombre']).sum()
df2['population']=df2['superficie_km2']*df2['densidad_por_km2']
df2.reset_index(inplace=True)
df2.drop(['distrito_nombre','barrio_codigo','municipio_codigo','superficie_km2','densidad_por_km2'],axis=1,inplace=True)
df

    distrito_codigo    population
0             79601  7.697384e+05
1             79602  1.120038e+06
2             79603  9.043745e+05
3             79604  8.947141e+05
4             79605  9.944694e+05
5             79606  9.706861e+05
6             79607  9.133525e+05
7             79608  1.866089e+07
8             79609  2.805213e+06
9             79610  2.637501e+06
10            79611  2.197886e+06
11            79612  1.007347e+06
12            79613  1.882413e+06
13            79614  5.838422e+05
14            79615  1.829324e+06
15            79616  1.603755e+06
16            79617  1.207178e+06
17            79618  6.922722e+05
18            79619  3.240864e+05
19            79620  2.177018e+06
20            79621  1.025840e+06

In [ ]:
# Formato poblacion
#df2.style.format("{:.2f}")

In [113]:
dfR = pd.merge(dfm, df2, on='distrito_codigo')
dfR

,distrito_codigo,distrito_nombre,barrio_nombre,population
0,79601,Centro,"Palacio, Embajadores, Co...",7.697384e+05
1,79602,Arganzuela,"Imperial, Las Acacias, L...",1.120038e+06
2,79603,Retiro,"Pacífico, Adelfas, Estre...",9.043745e+05
3,79604,Salamanca,"Recoletos, Goya, Fuente ...",8.947141e+05
4,79605,Chamartín,"El Viso, Prosperidad, Ci...",9.944694e+05
5,79606,Tetuan,"Bellas Vistas, Cuatro Caminos, ...",9.706861e+05
6,79607,Chamberí,"Gaztambide, Arapiles, Tr...",9.133525e+05
7,79608,Fuencarral-El Pardo,"El Pardo, Fuentelarreina, ...",1.866089e+07
8,79609,Moncloa-Aravaca,"Casa de Campo, Argüelles, ...",2.805213e+06
9,79610,Latina,"Los Cármenes, Puerta del Angel,...",2.637501e+06
10,79611,Carabanchel,"Comillas, Opañel, San Is...",2.197886e+06
11,79612,Usera,"Orcasitas, Orcasur, San ...",1.007347e+06
12,79613,Puente de Vallecas,"Entrevías, San Diego, Pa...",1.882413e+06
13,79614,Moratalaz,"Pavones, Horcajo, Marroq...",5.838422e+05
14,79615,Ciudad Lineal,"Ventas, Pueblo Nuevo, Qu...",1.829324e+06
15,79616,Hortaleza,"Palomas, Piovera, Canill...",1.603755e+06
16,79617,Villaverde,"San Andrés, San Cristobal, ...",1.207178e+06
17,79618,Villa de Vallecas,"Casco Histórico de Vallecas, Sa...",6.922722e+05
18,79619,Vicálvaro,"Casco Histórico de Vicálvaro, A...",3.240864e+05
19,79620,San Blas-Canillejas,"Simancas, Hellín, Ampost...",2.177018e+06
20,79621,Barajas,"Alameda de Osuna, Aeropuerto, ...",1.025840e+06

In [115]:
dfR.shape

(21, 4)